body{
    background-color: rgb(13, 7, 107);
}
section {
    width: 1430px;
    background-color: rgb(210, 236, 252);
    padding: 25px;
    margin: auto;
}
.content-left {
    width: 512px;
    height: 512px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: black;
    position: relative;
}
.diya {
position: absolute;
width: 309.72px;
height: 181.88px;
left: 101px;
top: 128.64px;

}

.flag {
    width: 512px;
    height: 256px;
    border: 2px solid black;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 32.48px;
    overflow: hidden;
}

.top-color {
    background-color: blue;
    height: 30px;
}

.bottom-color {
    background-color: yellow;
    height: 30px;
}

.content-center {
    width: 512px;
    height: 512px;
    position: relative;
    margin-top: -100px;
    margin-left: 440px;
    background: #ffce22;
}

.top-color{
    background-color: blue;
    height: 30px;
}
.bottom-color {
    background-color: yellow;
    height: 30px;
}


.content-right{
    width: 512px;
    height: 512px;
    padding-bottom: 25px;
    background-color: white;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    margin-top: -70px;
    margin-bottom: 25px;
    margin-left: 870px;
}
.circle{
    margin: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.top-circle{
    background-color: blue;
width: 444px;
height: 233.5px;
position: relative;

}

.bottom-circle {
background-color: yellow;
width: 444px;
height: 233.5px;

}
